# Introduction
<p>Indeed dataset </p>

In [93]:
import os
import pandas as pd
import numpy as np
import re

## Data Compilation

In [2]:
path = '/Users/Asus/Desktop/Unity Game/python/Data_Analysis/WebScrapping/Indeed/Scraping_lists'

df = pd.DataFrame()

for file in os.listdir(path):
    df = df.append(pd.read_csv(os.path.join(path, file)), ignore_index=True)

### Checking data shape

In [3]:
print(f'Data shape: {df.shape}')

Data shape: (1169, 6)

In [9]:
# remove duplicate data
df = df.drop_duplicates()
# export dataset to csv file
df.to_csv(os.path.join(path, 'indeed_complete_dataset.csv'), index=False)

len(df.drop_duplicates())

1020

In [8]:
df.head()

,Title,Company Name,Location,Salary,Rating,Descriptions
0,Data Scientist,Shoppr Labs Sdn Bhd,Kuala Lumpur,"RM 3,500 - RM 3,999 a month",NaN,Knowledge of big data technologies and machine...
1,Data Scientist,Asia Pacific University Sdn Bhd,Kuala Lumpur,"RM 3,000 - RM 3,499 a month",NaN,Preferably has a minimum of 2 years’ experienc...
2,Data Analyst / Data Scientist (Work From Home),CPR Vision Management,NaN,"RM 6,000 - RM 12,000 a month",NaN,The Data Analyst assists in design and impleme...
3,Data Scientist,Scicom,Kuala Lumpur,NaN,3.9,Assess the effectiveness and accuracy of new d...
4,Data Scientist,VSure Tech Sdn Bhd,Kuala Lumpur,NaN,NaN,Statistical/Pricing modelling (predictive mode...

## Data Processing- Title

- To classify common job title into category below

In [327]:
df['Data Science'] = [1 if re.search('scien+', title.lower())!=None else 0 for title in df.Title]
df['Data Analyst'] = [1 if re.search('analy+', title.lower())!=None else 0 for title in df.Title]
df['Data Engineer'] = [1 if re.search('engineer+', title.lower())!=None else 0 for title in df.Title]
df['Data'] = [1 if re.search('data+', title.lower())!=None else 0 for title in df.Title]
df['Programmer'] = [1 if re.search('program+', title.lower())!=None else 0 for title in df.Title]
df['IT'] = [1 if re.search('it+', title.lower())!=None else 0 for title in df.Title]
df['Tester'] = [1 if re.search('test+', title.lower())!=None else 0 for title in df.Title]
df['Digital'] = [1 if re.search('digit+', title.lower())!=None else 0 for title in df.Title]

df['Project'] = [1 if re.search('project+', title.lower())!=None else 0 for title in df.Title]
df['Product'] = [1 if re.search('product+', title.lower())!=None else 0 for title in df.Title]
df['Research'] = [1 if re.search('research+', title.lower())!=None else 0 for title in df.Title]
df['Consultant'] = [1 if re.search('consult+', title.lower())!=None else 0 for title in df.Title]
df['Developer'] = [1 if re.search('develop+', title.lower())!=None else 0 for title in df.Title]
df['Support'] = [1 if re.search('support+', title.lower())!=None else 0 for title in df.Title]
df['Designer'] = [1 if re.search('design+', title.lower())!=None else 0 for title in df.Title]
df['Officer'] = [1 if re.search('office+', title.lower())!=None else 0 for title in df.Title]
df['Customer'] = [1 if re.search('customer+', title.lower())!=None else 0 for title in df.Title]
df['Quality'] = [1 if re.search('quality+', title.lower())!=None or re.search('qa+', title.lower())!=None else 0 for title in df.Title]
                  
df['Business'] = [1 if re.search('business+', title.lower())!=None else 0 for title in df.Title]
df['Sale'] = [1 if re.search('sale+', title.lower())!=None else 0 for title in df.Title]       
df['Marketing'] = [1 if re.search('market+', title.lower())!=None else 0 for title in df.Title]               
df['Finance'] = [1 if re.search('finance+', title.lower())!=None else 0 for title in df.Title]

df['Director'] = [1 if re.search('director+', title.lower())!=None else 0 for title in df.Title]
df['President'] = [1 if re.search('president+', title.lower())!=None else 0 for title in df.Title]
df['Management'] = [1 if re.search('manage+', title.lower())!=None else 0 for title in df.Title]
df['Head'] = [1 if re.search('head+', title.lower())!=None else 0 for title in df.Title]
df['Specialist'] = [1 if re.search('specialist+', title.lower())!=None else 0 for title in df.Title]
df['Associate'] = [1 if re.search('assoc+', title.lower())!=None else 0 for title in df.Title]
df['Expert'] = [1 if re.search('expert+', title.lower())!=None else 0 for title in df.Title]
df['Executive'] = [1 if re.search('execut+', title.lower())!=None else 0 for title in df.Title]
df['Senior'] = [1 if re.search('senior+', title.lower())!=None else 0 for title in df.Title]
df['Junior'] = [1 if re.search('junior+', title.lower())!=None else 0 for title in df.Title]
df['Intern'] = [1 if re.search('intern+', title.lower())!=None else 0 for title in df.Title]

- Some job title might have more than one category

In [332]:
job_data = ['Data Science', 'Data Analyst', 'Data Engineer', 'Data', 'IT', 'Programmer', 'Tester', 'Digital']
job_field = ['Project', 'Product', 'Research','Consultant','Developer', 'Support', 'Designer', 'Officer', 'Customer', 'Quality']
Job_sale = ['Business', 'Sale', 'Marketing', 'Finance']
job_level = ['Director', 'President', 'Management', 'Head', 'Specialist', 'Associate', 'Expert', 'Executive', 'Senior', 'Junior', 'Intern']

df['variety'] = df[[*job_data, *job_field, *Job_sale, *job_level]].sum(axis=1)
df[['Title', *job_data, *job_field, *Job_sale, *job_level, 'variety']].sort_values(by='variety', ascending=False).head()

,Title,Data Science,Data Analyst,Data Engineer,Data,IT,Programmer,Tester,Digital,Project,...,Management,Head,Specialist,Associate,Expert,Executive,Senior,Junior,Intern,variety
362,"Technology Consulting - Digital Analyst, Senio...",0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,0,6
1161,Analyst- Digital Customer (Salesforce) - MY,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,5
778,"Manager/ Senior Manager - Data Engineer, Data ...",0,1,1,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,5
806,Senior Digital Marketing Analyst,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,5
266,"Senior Associate - Data Engineer, Data & Analy...",0,1,1,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,5

In [334]:
# for those did not have specific category yet
df[df[[*job_data, *job_field, *Job_sale, *job_level]].sum(axis=1) == 0][['Title', 'Descriptions']]

,Title,Descriptions
171,MYS CTSM KL Authorization,"Identify inconsistencies in data or results, a..."
175,"AVP, DM - SAS",Hands-on experience with integration of data f...
228,RPA Lead,Candidate must possess excellent communication...
231,BSA Hybris,Collaborate with Business/IT in collecting fee...
261,GTWB - Application Delivery,Develop data design and conduct data testing. ...
605,Seismic Imaging Geophysicist,"With CGG’s Subsurface Imaging team, you will l..."
634,YOODO CLVM,Manage and execute various campaigns in a fast...
994,Creative,The long-term aim was to curate diverse young ...
1135,(Malaysia),Propose and work with existing data models and...